.favorite {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;

    img {
      cursor: pointer;
    }
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  b {
    font-size: 16px;
  }

  .favoriteItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -2px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  .favoriteItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
  }

  .cancel-favorite-item {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .items {
    flex: 1;
  }
}
